---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Offer from "../components/Offer.astro";
import Services from "../components/Services.astro";
import Benefits from "../components/Benefits.astro";
import TestimonialsFAQ from "../components/TestimonialsFAQ.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
    <Header />
    <main class="flex-1">
        <Hero />
        <Offer />
        <Services />
        <Benefits />
        <TestimonialsFAQ />
    </main>
    <Footer />
</Layout>
